<h1><%- title %></h1>
<%- messages() %>
<% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>

<div class="management-div">
    <a href="/account/add-user">Add a User</a>
    <h2>Manage Existing Users</h2>
    <p id="manage-p">Select a user from the list to alter information about them</p>
    <%- userSelect %>
    <table id="userDisplay"></table>
    <noscript>JavaScript must be enabled to use this page.</noscript>
</div>

<script src="../../js/users.js"></script>